<div class="container">

  <div class="column">
    <h1>Portal de compras</h1>

    <div class="delivery-method">
      <h3>Ingrese su datos personales</h3>
      <div class="address-section">
        <p>{{usuario?.nombre}}</p>
        <h3>Dirección</h3>
        <p>{{usuario?.direccion}}</p>
        <h3>Teléfono</h3>
        <p>{{usuario?.telefono}}</p>
        <h3>Ciudad</h3>
        <p>{{usuario?.ciudad}}</p>
      </div>
    </div>
    
    <div class="pickup-info">
      <h3>Elija el medio de pago</h3>
      <select class="form-control">
        <option *ngFor="let item of codigo" >{{ item }}</option>
      </select>
    </div>


  
    <div class="product-info">
      <h2>{{producto.nombre}}</h2><br>

      <ng-container *ngIf="producto.imagenes && producto.imagenes.length > 0">
        <img [src]="producto.imagenes[0]" alt="Imagen del producto" class="product-image">
      </ng-container>

     <h3>Descripcion:</h3>  <p>{{producto.descripcion}}</p>
    </div>

    <div class="total-info">
      <p>Total a pagar</p>
      <p>${{producto.precio}}</p>
    </div>

    <button class="continue-button" (click)="(realizarCompra())">Comprar</button>
    <span class="button-separator"></span>
    <button class="agregar-button" >Llevar la carrito</button >
  </div>
</div>

