.crear-button {
    background-color: green;
    color: white;
    border: none;
    padding:7px 19px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .eliminar-button {
    background-color: rgb(180, 95, 95);
    color: white;
    border: none;
    padding:7px 19px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .button-separator {
    margin: 0 40px; /* Ajusta el valor de margen según tus necesidades */
  }