
<form #f="ngForm" (ngSubmit)="iniciarSesion()" >
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">

            <input #email="ngModel" class="form-control" [ngClass]="email.invalid &&

            (email.dirty || email.touched) ? 'is-invalid' : ''" type="email" name="email" [(ngModel)]="sesion.email" email
                 />

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Contraseña: </label>
        <div class="col-sm-10">
            <input #password="ngModel" class="form-control" [ngClass]="password.invalid && (password.dirty || password.touched)
             ? 'is-invalid' : ''"
            type="password" name="password"[(ngModel)]="sesion.password" required />

        </div>
    </div>

    <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        <i class="fa-solid fa-circle-plus me-1"></i>
        Iniciar Sesion
    </button>
    <app-alerta [alerta]="alerta"></app-alerta>
</form>
