
    .form_restore_password_container {
    height: 100vh;
    overflow: hidden;
    padding: 1em;
    display: flex;
    gap: 3em;
    flex-direction: column;  
    color: #ffffff;
  }
  
  .form_restore_password_container h1 {
    font-size: 2em;
  }

  .form_restore_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;  
    font-size: 1.5em;
    text-align: start;
  }
  .text-field label{
    width: 30%;
  }
  
  .text-field{
    display: flex;
    align-items: center;
  }
  
  .text-field input{
    width: 70%;
  }
  
  .text-field input:focus {
    border-color: #ffc107;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255, 193, 7);
  }
  
  button {
    font-size: 1em;
    border-radius: 0.4em;
    background-color: #ffc107;
    font-weight: bold;
    color: #ffffff;
    justify-self: center;
    padding: 0.2em;
  
  }
  
  button:hover {
    background-color: #d59917;
  }
  
  button:disabled {
    background-color: #fcd87c;
  }
  
  @media only screen and (min-width: 1200px) {
    .form_restore_password_container h1 {
      font-size: 3em;
    }   
    .text-field {
      text-align: start;
    }  
  }