<div class="main_container">
  <div class="form_restore_password_container">
    <h1>Restablecer la contraseña</h1>

    <form #f="ngForm" class="form_restore_password" (ngSubmit)="restorePasswordFunction()">

      <div class="text-field">
        <label>Contraseña nueva: </label>
        <input type="password" name="password" [(ngModel)]="restorePassword.password" required>
      </div>
      <div class="text-field">
        <label>Confirmar contraseña nueva: </label>
        <input type="password" name="confirmedPassword" [(ngModel)]="restorePassword.confirmedPassword" required>
      </div>
      <p *ngIf="!passwordEquals()">Las contraseñas no coinciden</p>
      <button type="submit" [disabled]="!passwordEquals() || f.invalid">Restablecer contraseña</button>
    </form>
  </div>
</div>