<div class="forget_password_container">
  <div class="text_top">
    <h1>Reestablecer la contraseña</h1>
    <h2>Ingresa tu correo electronico para recuperar el acceso a tu cuenta</h2>
  </div> 
  <form #f="ngForm" class="form_forget_password" (ngSubmit)="forgetPasswordFunction()">   
    <div class="form_text_field">      
        <input type="email" name="email" class="form-control .form-control-lg" id="email" placeholder="name@example.com" [(ngModel)]="forgetPassword.email" email maxlength="100" required>
    </div>        
    <button type="submit" [disabled]="f.invalid">Reestablecer contraseña</button>
  </form>
</div>