<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center
  justify-content-lg-start">
      <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-white
  text-decoration-none">
        <i class="fa-solid fa-bag-shopping fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{title}}</span>
      </a>
      <div *ngIf="!isLogged; then nologged else logged"></div>

      <ng-template #nologged>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
          <input #textoBusqueda type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
            aria-label="Search">
        </form>
        <div class="text-end">
          <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Iniciar Sesión</button>
          <button type="button" routerLink="/registro" class="btn btn-warning">Registrarse</button>
        </div>
      </ng-template>


      <ng-template #logged>
        <a routerLink="/gestion-productos" class="nav-link px-2 text-white">Mis productos</a>
        <a routerLink="" class="nav-link px-2 text-white">Mis compras</a>
        <a routerLink="/carrito" class="nav-link px-2 text-white">Carrito</a>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
          <input #textoBusqueda type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
            aria-label="Search">
        </form>
        <label class="me-3">Hola {{email}}</label>
        <button type="button" routerLink="/" (click)="logout()" class="btn btn-warning">Cerrar Sesión</button>
        <div class="text-end">
        </div>
      </ng-template>

      <!-- <div class="text-end">
        <button *ngIf="mostrarBoton" type="button" routerLink="/login" class="btn btn-outline-light me-2">Iniciar Sesión</button>
        <label class="btn btn-outline-light me-2" *ngIf="mostrarLabel" [innerHTML]="nombreBoton"></label>
        <button *ngIf="mostrarBoton" type="button" routerLink="/registro" class="btn btn-warning">Registrarse</button>
        <button *ngIf="!mostrarBoton" type="button" class="btn btn-warning" (click)="logout()">Cerrar  Sesión</button>

      </div> -->
    </div>
  </div>
</header>
<div class="seccion-pagina p-4">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Company, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter
fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram
fs-5"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook
fs-5"></i></a></li>
    </ul>
  </footer>
</div>