<form #f="ngForm">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre: </label>
        <div class="col-sm-10">
            <input #nombre="ngModel" class="form-control" [ngClass]="nombre.invalid &&

(nombre.dirty || nombre.touched) ? 'is-invalid' : ''" type="text" name="nombre" [(ngModel)]="producto.nombre" required
                maxlength="50" />
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Descripcion: </label>
        <div class="col-sm-10">
        <textarea #descripcion="ngModel" class="form-control" [ngClass]="descripcion.invalid &&

        (descripcion.dirty || descripcion.touched) ? 'is-invalid' : ''" type="text" name="descripcion" [(ngModel)]="producto.nombre" required
                        maxlength="50"></textarea>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Precio: </label>
    <div class="col-sm-10">
        <input #precio="ngModel" class="form-control" [ngClass]="precio.invalid &&

        (precio.dirty || precio.touched) ? 'is-invalid' : ''" type="number" name="precio" [(ngModel)]="producto.precio" required
                        maxlength="10" />
    </div>
</div>
<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Unidades: </label>
    <div class="col-sm-10">
        <input #unidades="ngModel" class="form-control" [ngClass]="unidades.invalid &&

        (unidades.dirty || unidades.touched) ? 'is-invalid' : ''" type="number" name="unidades" [(ngModel)]="producto.unidades" required
                        maxlength="10" />
    </div>
</div>
    <form #f="ngForm">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Imagen: </label>
            <div class="col-sm-7">
                <input type="file" class="form-control" name="imagenes" (change)="onFileChange($event)" multiple />
            </div>
            <div class="col-sm-3">
                <button type="button" [disabled]="archivos == null" class="btn btn-primary" (click)="subirImagenes()"
                    required>
                    <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir imágenes
                </button>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-10">
                <select class="form-control" name="categoria" [(ngModel)]="producto.categoria" required>
                    <option value="" selected>Seleccione una categoría</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                </select>
            </div>
        </div>
        <div *ngIf="mensajeAlerta" class="alert alert-danger" role="alert">
            {{ mensajeAlerta }}
        </div>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary" (click)="crearProducto()">
            <i class="fa-solid fa-circle-plus me-1"></i>{{txtBoton}}</button>
    </form>
</form>