<link rel="stylesheet" href="detalle-p.component.css">

<div class="detalle-producto-container">
  <div class="producto-imagen">
    <ng-container *ngIf="producto.imagenes && producto.imagenes.length > 0">
      <img [src]="producto.imagenes[0]" alt="Imagen del producto" class="product-image">
    </ng-container>
  </div>
  <div class="producto-info">
    <h2 class="producto-nombre">{{producto.nombre}}</h2>
    <p class="producto-descripcion">{{producto.descripcion}}</p>
    <div class="producto-detalle">
      <p><strong>Precio:</strong> ${{producto.precio}}</p>
      <p><strong>Unidades:</strong> {{producto.unidades}}</p>
      <p><strong>Categoría:</strong></p>
      <ul>
        <!-- <li *ngFor="let categoria of producto.categorias">{{categoria}}</li> -->
      </ul>
    </div>
    <button routerLink="/compra/{{numero}}" class="buy-button">Comprar</button >
  </div>
</div>